<nav class="nav">
  <div>
   <a routerLink='' ><img src="assets\logo.png"/></a>
  </div>
  
  <div class="hamburger" onclick="toggleMenu()">
     <div></div>
     <div></div>
     <div></div>
  </div>
  
  <ul [ngClass]="{ 'active': isMenuOpen }">
     <li><a routerLink='/dashboard'>Dashboard</a></li>
     <li><a routerLink='/findcand'>Find Candidates</a></li>
     <li><a routerLink='/findjob'>Find Jobs</a></li>
     <li><a href="#">Contact Us</a></li>
     <!-- <li><a routerLink='/register'>Register</a></li> -->
  </ul>
</nav>



