/* General styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #f5f5f5;
  padding: 10px;
}
.nav img{
  max-width: 250px;
  margin:0;
}

.nav a {
  text-decoration: none; /* Remove underline from all links */
}

/* Specific styles for the h1 and h4 links */


.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-right: 20px;
}

.nav li {
  padding: 0 15px;
}

.nav li a {
  text-decoration: none;
  color: #071952;
  font-size: 18px;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.nav li a:hover {
  background-color: #071952;
  color: #fff;
}

/* Hamburger icon styles */
.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #071952;
  margin: 4px 0;
  transition: 0.4s;
}
.nav ul.active {
  display: block; /* Show menu when active */
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .nav ul {
     display:contents; /* Hide menu items by default */
     flex-direction: column; /* Stack menu items vertically */
     position: absolute;
     right: 0;
     top: 60px; /* Adjust based on your header height */
     background-color: #f5f5f5;
     width: 200px; /* Adjust as needed */
     padding: 10px;
     border: 1px solid #ddd;
  }
  
  .nav.active ul {
     display: flex; /* Show menu items when 'active' class is added */
  }

  .hamburger {
     display: flex; /* Show hamburger menu */
  }
}
