<nav class="nav">
  <div>
   <a routerLink='' ><img src="assets\logo.png"/></a>
  </div>
  
  <div class="hamburger" onclick="toggleMenu()">
     <div></div>
     <div></div>
     <div></div>
  </div>
  
  <ul [ngClass]="{ 'active': isMenuOpen }">
     <li><a routerLink='/dashboard'>Dashboard</a></li>
     <li><a routerLink='/findcand'>Find Candidates</a></li>
     <li><a routerLink='/findjob'>Find Jobs</a></li>
     <!-- <li><a routerLink='' fragment="contact-us">Contact Us</a></li> -->
     <li>
      <button class="profile-button" (click)="isAuthenticated ? showUserDetails() : toggleLoginModal()">
        <img src="assets/profile1.png" class="profile-img" alt="Profile"/>
      </button>
      <div *ngIf="isUserDetailsOpen" class="user-details-box">
        <p>{{ userDetails.email }}</p>
        <div>
          <label for="status">Status:</label>
          <span>{{ userDetails.status }}</span>
          <button (click)="toggleStatusOptions()">Update Status</button>
          <div *ngIf="showStatusOptions">
            <select [(ngModel)]="selectedStatus">
              <option *ngIf="userDetails?.status === 'open_to_network'" value="not_open_to_network">Not Open to Network</option>
              <option *ngIf="userDetails?.status === 'hiring'" value="not_hiring">Not Hiring</option>
              <option *ngIf="userDetails?.status === 'not_open_to_network'" value="open_to_network">Open to Network</option>
              <option *ngIf="userDetails?.status === 'not_hiring'" value="hiring">Hiring</option>
            </select>
            <button (click)="saveStatus()">Save</button>
          </div>
        </div>
        <button (click)="logout()">Logout</button>
      </div>
    </li>
  </ul>

<!-- Login Modal -->
<div *ngIf="isLoginModalOpen" class="modal-overlay">
  <div class="login-modal">
    <h2>Login</h2>
    <div class="input-group">
      <label for="email">Email</label>
      <input id="email" [(ngModel)]="loginData.email" type="email" placeholder="Enter your email" />
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input id="password" [(ngModel)]="loginData.password" type="password" placeholder="Enter your password" />
    </div>
    <button (click)="login()">Login</button>
    <span class="close-modal" (click)="toggleLoginModal()">×</span>
  </div>
</div>



